.cart {
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cart-indicator {
    color: black;
    background-color: white;
    width: 2rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}