* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
}

li {
  margin-bottom: .5rem;
  padding: 1rem;
  color: white;
  background-color: red;
}

.done {
  background-color: green;
}